####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
Electrum.egg-info/
Reddcoin_Electrum.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
.idea/
tmp/
reddcoin-electrum.spec
reddcoin_electrum.egg-info/dependency_links.txt
reddcoin_electrum.egg-info/PKG-INFO
reddcoin_electrum.egg-info/requires.txt
reddcoin_electrum.egg-info/SOURCES.txt
reddcoin_electrum.egg-info/top_level.txt
